body{
  font-family: "Arial", sans-serif;
}
.dropzone{
  width: 1066;
  height: 462;
  border:2px;
  border-style: dashed;
  border-color: #ccc;
  color:#ccc;
  line-height: 300px;
  text-align: center;
}

.dropzone.dragover{
  border-color:#000;
  color:#000;
}


input[type="file"]{
        height:1066;
        width: 462;
        line-height: 300px;
        opacity: 0;
  }

.button:hover {
  background: #ddd;
}


