/*body {*/
/*    background-color: lightblue;*/
/*}*/

h1 {
    color: white;
    background-color: navy;
    text-align: center;
    margin-left: 20px;
}

h2 {
    color: white;
    background-color: navy;
    text-align: center;
    margin-left: 20px;
}

p {

    text-align: center;
    line-height: 30px;

}

div {
    margin: auto;
    background-color: lightgray;
    text-align: center;
    line-height: 30px;
}

div#loading {
    background-color: white;
    text-align: center;
}