/* **************************************** */
/*  Explore Tool Homepage                   */
/* **************************************** */
.explore-4 .container-fluid {
	max-width: 100%;
	background-color: #340007;
	background-image: url("../images/exploretool-background.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
}
.explore-4 .sinclair-border {
	max-width: 100%;
	min-height: 10px;
	background: #ac1a2f; /* Old browsers */
	background: -moz-linear-gradient(left, #ac1a2f 0%, #d55265 50%, #ac1a2f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ac1a2f 0%,#d55265 50%,#ac1a2f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ac1a2f 0%,#d55265 50%,#ac1a2f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac1a2f', endColorstr='#ac1a2f',GradientType=1 ); /* IE6-9 */
}
.explore-4 .row {
	border: none !important;
}
.explore-4 h1 {
	font-size: 36px;
	margin-top: 1.5rem !important;
	text-align: center !important;
	color: #fff !important;
	font-weight: 600;
	font-family: "Source Serif Pro", serif;
	line-height: normal;
}
.explore-4 h4 {
	font-size: 25px;
	text-align: center !important;
	color: #fff;
	font-weight: 300;
	font-family: "Open Sans", san-serif;
	text-transform: none;
	line-height: .6em;
	padding: 0 0 14px 0;
	margin: 0px 0px 14px;
}
.undecided {
	text-align: center !important;
	margin-top: .5rem !important;
	color: #fff !important;
	font-family: "Open Sans", san-serif;
	font-size: 14px;
}
/*     General Boxes    */
.bg-purple {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #000 !important;
}
.explore-deck > .bg-purple {
	border-radius: 0px !important;
	margin-top: 1rem !important;
	color: #fff !important;
	border: 0;
}
/*     Purple Boxes    */
.text-purple h5 {
	margin: 0px auto;
}
.explore-icon {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	margin-top: 1rem !important;
	width: 100px;
	height: 100px;
	margin: 0px auto;
}
.explore-4 h5 {
	font-size: 18px;
	font-weight: bold !important;
	font-family: "Montserrat", san-serif;
	padding: 0;
	line-height: normal;
	text-align: center !important;
	text-transform: uppercase !important;
}
.color-white {
	color: #fff !important;
}
.explore-4 .bg-light {
	background-color: transparent !important;
}
/*     Light Hover Boxes    */
.text-purple {
	color: #000;
}
.card-body.bg-light > .card-text {
	font-size: 18px;
	line-height: 1.1em;
}
.card-footer {
	padding: 0;
	border-top: none;
}
.text-purple > h5 {
	font-size: 18px;
	font-weight: bold;
	font-family: "Open Sans", san-serif;
	line-height: normal;
	text-align: center !important;
	text-transform: uppercase !important;
}
.text-purple > p {
	font-size: 14px !important;
	line-height: 20px !important;
	font-weight: 400;
	font-family: "Open Sans", san-serif;
	text-align: center !important;
	padding-left: .25rem !important;
}
.btn-findout h4 {
	font-size: 28px;
	color: #ac1a2f !important;
	font-weight: bold;
	font-family: "Open Sans", san-serif;
	line-height: normal;
	text-align: center !important;
	text-transform: uppercase !important;
}
.btn-findout h4::after {
	content: " \203A";
	color: #ac1a2f;
	font-size: 35px !important;
	font-weight: 500;
	font-family: "Righteous", san-serif;
}
/**************** Media Queries ******************/                                                                                 
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
#button-row {
	height: 614px;
}
.explore-deck > .card {
    height: 100px;
}
.explore-deck > .bg-purple {
	height: 100px;
	margin-top: 0rem !important;
}
.explore-4 h1 {
	font-size: 19px;
	line-height: normal;
}
.explore-4 h4 {
	font-size: 16px;
	padding: 0 0 4px 0;
}
.explore-icon {
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	float: left;
	margin-top: 5px !important;
	margin-right: 14px !important;
	margin-left: 6%;
}
.explore-4 h5 {
	font-size: 16px;
	font-weight: bold;
}
.explore-4 h5.nottouch {
	text-align: left !important;
	padding-top: 20px;
	margin-left: 25%;
}
.explore-4 h5.card-title {
	padding-top: 5px;
}
.text-purple > p {
    font-size: 12px !important;
	line-height: 14px !important;
}
.btn-findout h4 {
	line-height: 0;
}
.btn-findout h4::after {
	font-size: 20px !important;
}
.undecided {
	font-size: 11px;
	margin-top: .5rem !important;
}
.btn-findout {
	visibility: hidden;
}
.mobile-padding {
	padding: .5rem;
}
/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) {
	#button-row {
		height: 490px;
	}
	.explore-deck > .card {
		height: 160px;
	}
	.explore-deck > .bg-purple {
		height: 160px;
		margin-top: 1rem !important;
	}
	.explore-4 h4 {
		padding: 0 0 4px 0;
	}
	.explore-icon {
		width: 50px;
		height: 50px;
		background-size: 50px 50px;
		margin-top: 1rem !important;
		float: none;
		margin-right: auto !important;
		margin-left: auto;
	}
	.explore-4 h5 {
		font-size: 16px;
		font-weight: normal;
	}
	.explore-4 h5.nottouch {
		text-align: center !important;
		padding-top: 5px;
		margin-left: auto;
	}
	.explore-4 h5.card-title {
		padding-top: 0px;
	}
	.undecided {
		margin-top: 1rem !important;
	}
	.btn-findout {
		visibility: visible;
	}
	.mobile-padding {
		padding: 1.25rem;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#button-row {
		height: 504px;
	}
	.explore-deck > .card {
		height: 160px;
	}
	.explore-deck > .bg-purple {
		height: 160px;
	}
	.explore-4 h1 {
		font-size: 25px;
	}
	.explore-4 h4 {
		padding: 0 0 4px 0;
	}
	.explore-icon {
		width: 50px;
		height: 50px;
		background-size: 50px 50px;
		float: none;
		margin-top: 1rem !important;
	}
	.explore-4 h5 {
		font-size: 16px;
		line-height: normal;
	}
	.undecided {
		font-size: 12px;
		margin-top: 1rem !important;
	}
	.btn-findout {
		visibility: visible;
	}
	.mobile-padding {
		padding: 1.25rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#button-row {
		height: 340px;
	}
	.explore-deck > .card {
		height: 180px;
	}
	.explore-deck > .bg-purple {
		height: 180px;
	}
	.explore-4 h1 {
		font-size: 25px;
		line-height: 22px;
	}
	.explore-4 h4 {
		padding: 0 0 4px 0;
	}
	.explore-icon {
		width: 70px;
		height: 70px;
		background-size: 70px 70px;
		margin-top: 1rem !important;
		float: none;
	}
	.explore-4 h5 {
		font-size: 14px;
		line-height: normal;
	}
	.undecided {
		font-size: 12px;
		margin-top: 1rem !important;
	}
	.btn-findout {
		visibility: visible;
	}
	.mobile-padding {
		padding: 1.25rem;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#button-row {
		height: 423px;
	}
	.explore-deck > .card {
		height: 230px;
	}
	.explore-deck > .bg-purple {
		height: 230px;
	}
	.explore-4 h1 {
		font-size: 36px;
		line-height: normal;
	}
	.explore-4 h4 {
		font-size: 25px;
		padding: 0 0 14px 0;
	}
	.explore-icon {
		width: 100px;
		height: 100px;
		background-size: 100px 100px;
		float: none;
	}
	.explore-4 h5 {
		font-size: 18px;
		line-height: normal;
	}
	.text-purple > p {
		font-size: 14px !important;
		line-height: 20px !important;
	}
	.btn-findout h4 {
		line-height: normal;
	}
	.btn-findout h4::after {
		font-size: 35px !important;
	}
	.undecided {
		font-size: 14px;
		margin-top: .6rem !important;
	}
	.btn-findout {
		visibility: visible;
	}
	.mobile-padding {
		padding: 1.25rem;
	}
}
/* Touch devices */
body.touch .mobile-touch-nobreak {
	display: none !important;
}
body.touch h5.mobile-touch-box {
	padding-top: 7px !important;
}
body.touch .mobile-touch-subline {
	display: block !important;
	text-transform: none !important;
	font-weight: 300 !important;
	font-family: "Open Sans", san-serif;
	font-size: 14px;
	line-height: 8px;
}


/****************************************/
/*     Explore Form Header/Tabs/Body    */
/****************************************/
a {
	color: #ac1a2f;
}
#search-header-row {
	background-color: #600311;
}
#exploreHeader {
	font-family: "Montserrat", san-serif;
	font-size: 47px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0px;
	margin-top: 28px;
}
#exploreHeader::before {
	content: " \2039";
	color: #9DA1A6;
	font-size: 60px;
	font-weight: 500;
	font-family: "Righteous", san-serif;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color;
	transition-property: color;
	line-height: 0px;
}
#exploreHeader:hover::before {
	color: #ac1a2f;
}
#exploreSubHeader {
	font-family: "Montserrat", san-serif;
	font-weight: bold;
	line-height: 0px;
	margin-top: 28px;
}
#exploreSubHeader::before {
	content: " \2039";
	color: #9DA1A6;
	font-size: 48px;
	font-weight: 500;
	font-family: "Righteous", san-serif;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color;
	transition-property: color;
	line-height: 0px;
}
#exploreSubHeader:hover::before {
	color: #ac1a2f;
}
.nav.explore-tabs {
	border-width: 0px !important;
}
.nav.explore-tabs a {
	color: #ffffff;
}
.nav.explore-tabs a.nav-link {
	border-radius: 0px !important;
padding: 0.5rem 1.5rem !important;
}
.nav.explore-tabs a.active {
	background-color: #ececec;
    background-image: -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
		-webkit-repeating-linear-gradient(top, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
		-webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
		linear-gradient(90deg,  
		hsl(0,0%,92%) 53%,
		hsl(0,0%,95%)100%);
	color: #000;
}
#nav-tabContent {
	background-color: #ececec;
    background-image: -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(top, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(90deg, hsl(0,0%,98%)  0%, 
    hsl(0,0%,85%) 47%, 
    hsl(0,0%,98%)100%,
    hsl(0,0%,78%) 53%);
}
#nav-careers-tab, #nav-programs-tab {
	font-family: "Montserrat", san-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 1rem 2.5rem !important;
	border: none;
}
.nav.explore-tabs a.nav-link:hover {
	color: #DEDEDE;
	background-color: black;
	border: none;
}
.nav.explore-tabs a.active:hover {
	color: #580054;
	border: none;
}
/*     General Form     */
.explore-4 form label, #nav-programs label {
	color: #262626 !important;
	font-size: 16px;
	font-weight: 300 !important;
	font-family: "Open Sans", san-serif;
	line-height: normal;
}
input.form-control.btn-sb,
.btn.dropdown-toggle.btn-sb {
	color: #ac1a2f !important;
	border-radius: 0px;
	background-color: #fff !important;
	border: 1px solid #9F95D2 !important;
	border-radius: 0px !important;
	font-size: 20px;
	font-weight: 600;
	font-family: "Source Serif Pro", serif;
	line-height: normal;
}
.btn.dropdown-toggle.btn-sb::after {
	margin-left: 0em;
}
.btn.dropdown-toggle.btn-sb:hover {
    color: #999 !important;
	border: 1px solid #ac1a2f !important;
}
.explore-form input, .program-form input,
.explore-form optgroup, .program-form optgroup,
.explore-form select, .program-form select,
.explore-form textarea .program-form textarea {
	color: #ac1a2f !important;
	border-radius: 0px;
	background-color: #ffffff !important;
	border: 1px solid #9F95D2 !important;
	border-radius: 0px;
	font-size: 18px;
    font-weight: 600;
    font-family: "Source Serif Pro", serif;
    line-height: normal;
}
.explore-form input:hover, .program-form input:hover,
.explore-form optgroup:hover, .program-form optgroup:hover,
.explore-form select:hover, .program-form select:hover,
.explore-form textarea:hover .program-form textarea:hover {
	color: #999 !important;
	border: 1px solid #ac1a2f !important;
}
.explore-form input::placeholder, .program-form input::placeholder,
.explore-form input::-moz-placeholder, .program-form input::placeholder {
	color: #C8C9CA !important; /* C8C9CA */
}
.explore-form input:hover::placeholder:hover, .program-form input:hover::placeholder:hover,
.explore-form input:hover::-moz-placeholder, .program-form input:hover::placeholder:hover {
	color: #999 !important;
	border: 1px solid #ac1a2f !important;
}
div.dropdown-menu {
	border: 1px solid #9F95D2 !important;
}
.dropdown-menu li a {
	font-size: 14px;
	font-weight: 400;
	font-family: "Source Serif Pro", serif;
	line-height: normal;
	color: black;
	text-transform: capitalize !important;
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #fff;
	text-decoration: none;
	background-color: #616366;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
	left: 8px !important;
	color: #19b3aa !important;
}
button.btn-sinclair-red {
	font-family: "Montserrat", san-serif;
	text-transform: uppercase;
	background-color: #ac1a2f !important;
	color: #ffffff !important;
	font-weight: normal !important;
	border: 1px solid #9F95D2 !important;
	border-radius: 0px !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
	margin-right: 4px;
	font-size: 1.15rem !important;
	padding: 0.25rem 0.5rem !important;
}
button.btn-sinclair-red:hover {
	background-color: #007972 !important;
}
/*     Career Form      */
.career-filter-or {
	color: #616366 !important;
	font-size: 16px;
	font-weight: 400 !important;
	font-family: "Open Sans", san-serif;
	line-height: normal;
	padding: 6px 9px 6px 6px;
}

/*     Program Form     */
button.btn-sinclair-red-small {
	font-family: "Montserrat", san-serif;
	text-transform: uppercase;
	background-color: #ac1a2f !important;
	color: #ffffff !important;
	font-weight: 600 !important;
	border: 1px solid #9F95D2 !important;
	border-radius: 0px !important;
	margin-bottom: 4px;
	margin-right: 4px;
	width: 37px;
	font-size: 0.875rem !important;
	padding: 0.25rem 0.5rem !important;
}
button.btn-sinclair-red-small:visited, button.btn-sinclair-red-small:focus, button.btn-sinclair-red-small:hover {
	background-color: #007972 !important;
	color: #ffffff !important;
}
button.btn-sinclair-red-small:active {
	background-color: #000 !important;
	color: #ffffff !important;
}
/**************** Media Queries ******************/
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
#nav-tabContent .tab-pane {
	min-height: 340px;
}
#exploreHeader {
    font-size: 30px;
	margin-top: 17px;
}
#exploreHeader::after {
    font-size: 40px;
}
#nav-careers-tab, #nav-programs-tab {
	font-size: 16px;
	padding: .65rem 1.5rem !important;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
	button.btn-sinclair-red {
		font-size: 0.96rem !important;
		padding: 0.15rem 0.2rem !important
	}
}
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#nav-tabContent .tab-pane {
		min-height: 340px;
	}
	#exploreHeader {
		font-size: 47px;
		margin-top: 28px;
	}
	#exploreHeader::after {
		font-size: 60px;
	}
	#nav-careers-tab, #nav-programs-tab {
	    font-size: 24px;
		padding: 1rem 2.5rem !important;
	}
}
/* **************************************** */
/*  Explore Tool Homepage - Hover Effects   */
/* **************************************** */
/* BACKGROUND TRANSITION Fade */
.hvr-fade {
	background-color: rgba(0, 0, 0, 0.6);
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	-moz-transform: perspective(1px) translateZ(0);
	-ms-transform: perspective(1px) translateZ(0);
	-o-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	-moz-transition-property: color, background-color;
	-ms-transition-property: color, background-color;
	-o-transition-property: color, background-color;
	transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
	background-color: #DBE0E9;
	color: white;
}
/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	-moz-transform: perspective(1px) translateZ(0);
	-ms-transform: perspective(1px) translateZ(0);
	-o-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	background: #ac1a2f;
	height: 8px;
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	-webkit-transition-property: left, right;
	-moz-transition-property: left, right;
	-ms-transition-property: left, right;
	-o-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
/* Skew FIND OUT */
.hvr-skew {
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	-moz-transform: perspective(1px) translateZ(0);
	-ms-transform: perspective(1px) translateZ(0);
	-o-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-ms-transition-property: transform;
	-o-transition-property: transform;
	transition-property: transform;
}
.hvr-skew:hover, .hvr-skew:focus, .hvr-skew:active {
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
	-ms-transform: skew(-10deg);
	-o-transform: skew(-10deg);
	transform: skew(-10deg);
}
/****************************************/
/*     Explore Programs/Careers CFM     */
/****************************************/
.explore-tool h1 {
    color: #ac1a2f;
    font-size: 3.14em; /*44px*/
    font-weight: bold;
    font-family: "Source Serif Pro", serif;
    margin: 0px 0px 14px;
    padding: 0;
    line-height: normal;
}
.explore-reg-p {
	font-family: "Open Sans", san-serif;
	font-size: 14px;
}
a.btn-search-red,
button.btn-search-red {
	background-color: #ac1a2f !important;
	color: #ffffff !important;
	border: 1px solid #9F95D2 !important;
	border-radius: 20px;
	margin: 0px 4px 8px;
	padding: 2px 10px;
	font-family: "Source Serif Pro", serif;
}
.explore-cp-label {
	color: #262626 !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	font-family: "Open Sans", san-serif;
	line-height: normal;
}
.badge-pill.small {
	font-family: "Montserrat", san-serif;
	border: 1px solid #9F95D2 !important;
	font-size: 12px !important;
	font-weight: bold;
	border-radius: 20px;
	background: #3a3436; /* Old browsers */
	background: -o-linear-gradient(top, #893946 0%, #3a3436 100%);
	background: -ms-linear-gradient(top, #893946 0%, #3a3436 100%);
	background: -moz-linear-gradient(top, #893946 0%, #3a3436 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #893946 0%,#3a3436 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #893946 0%,#3a3436 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#893946', endColorstr='#3a3436',GradientType=0 ); /* IE6-9 */
}
a.btn-search-red:hover {
	background-color: #000 !important;
}


/**************** Media Queries ******************/                                                                                 
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
} */
/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
} */
/* Large devices (desktops, 992px and up)
@media (min-width: 992px) {	
} */
/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
} */

/* **************************************** */
/*  Homepage - BRIAN                        */
/* **************************************** */


/* **************************************** */
/*  Explore Tool Homepage - BRIAN           */
/* **************************************** */
.youtube .container-fluid {
	max-width: 100%;
	background-color: #000000;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
}
.youtube .sinclair-border {
	max-width: 100%;
	min-height: 10px;
	background: #ac1a2f; /* Old browsers */
	background: -moz-linear-gradient(left, #ac1a2f 0%, #d55265 50%, #ac1a2f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ac1a2f 0%,#d55265 50%,#ac1a2f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ac1a2f 0%,#d55265 50%,#ac1a2f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac1a2f', endColorstr='#ac1a2f',GradientType=1 ); /* IE6-9 */
}
.youtube .row {
	border: none !important;
}
.modal-xlg {
	max-width: 952px;
}
.jobModal .modal-header,
.careerModal .modal-header {
	padding: 0.25rem 1rem 0.25rem 1.25rem !important;
}
.jobModal h1.modal-title, 
.careerModal h1.modal-title {
	font-size: 2.5rem;
	color: #ac1a2f;
	font-weight: 600;
	font-family: "Source Serif Pro", serif;
	text-transform: none;
	line-height: 2.5rem;
}
.jobModal h1.modal-title small,
.careerModal h1.modal-title small {
	font-size: 0.875rem;
	color: black;
	font-weight: 700;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	text-transform: uppercase;
	margin: 0px !important;
}
.jobModal .flex-fill,
.careerModal .flex-fill {
	-ms-flex: 1 1 auto!important;
	flex: 1 1 auto!important;
}
.jobModal h3,
.careerModal h3 {
	font-size: 1.3rem;
	color: #ac1a2f;
	font-weight: 600;
	font-family: "Source Serif Pro", serif;
	text-transform: none;
	line-height: 1.5rem;
	margin-bottom: 1rem;
}
.jobModal #companies,
.careerModal #skills,
.careerModal #tasks {
	font-size: 0.86rem;
	line-height: 1rem;
}
.jobModal #companies div.collapse:not(.show),
.careerModal #skills ul.collapse:not(.show) {
	height: 211px !important;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 13;
	-webkit-box-orient: vertical; 
}
.careerModal #tasks ul.collapse:not(.show) {
	height: 80px !important;
	overflow: hidden;

	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical; 
}

.jobModal #companies p.collapsing,
.careerModal #skills p.collapsing {
	min-height: 211px !important;
}
.careerModal #tasks p.collapsing {
	min-height: 80px !important;
}

.jobModal #companies a.collapsed:after,
.careerModal #skills a.collapsed:after,
.careerModal #tasks a.collapsed:after  {
	content: 'Show More';
}

.jobModal #companies a:not(.collapsed):after,
.careerModal #skills a:not(.collapsed):after,
.careerModal #tasks a:not(.collapsed):after {
	content: 'Show Less';
}

.text-sinclair {
	color: #ac1a2f !important;
}
.text-sinclair-purple {
	color: #530054 !important;
}

#button-row {
	background-color: rgba(172, 26, 47, 0.5);
	padding-bottom: 1rem !important;
}

.card-body.bg-light > .card-text {
	font-size: 18px;
	line-height: 1.1em;
}
.search-form {
	border-top: 6px solid #ac1a2f;
	-webkit-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.1);
	padding: 0.5rem;
    background-color: white;
}
.badge-pill.small {
	font-size: 0.625rem;
}
label.small {
	font-size: 0.7rem;
	margin-bottom: 0.3rem;
}

.nav.explore-tabs {
	border-width: 0px !important;
}
.nav.explore-tabs a {
	color: #ffffff;
}
.nav.explore-tabs a.nav-link {
	border-radius: 0px !important;
	padding: 0.5rem 1.5rem !important;
}
.nav.explore-tabs a.active {
	color: #580054;
}

#nav-tabContent .tab-pane {
	min-height: 365px;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
	left: 8px !important;
	color: #66cc66 !important;
}

.explore-form input,
.explore-form optgroup,
.explore-form select,
.explore-form textarea {
	color: #6c757d;
	border-radius: 0px;
	background-color: #ffffff !important;
	border: 1px solid #ced4da !important;
}

a.btn-sinclair-purple,
button.btn-sinclair-purple {
	background-color: #d7dbe0 !important;
	color: #ac1a2f !important;
	font-weight: 600 !important;
	border: 3px solid #fff !important;
	border-radius: 0px !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
	margin-right: 4px;
	font-size: 0.875rem !important;
	padding: 0.25rem 0.5rem !important;
	-webkit-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.1);
}
a.btn-sinclair-purple:hover,
button.btn-sinclair-purple:hover {
	background-color: #616366 !important;
    color: #fff !important;
}

a.btn-sinclair-red,
button.btn-sinclair-red {
	background-color: #ac1a2f !important;
	color: #ffffff !important;
	font-weight: 600 !important;
	border: 1px solid #6c757d !important;
	border-radius: 0px !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
	margin-right: 4px;
	/* font-size: 0.875rem !important;
	padding: 0.25rem 0.5rem !important; */
}
a.btn-sinclair-red:hover,
button.btn-sinclair-red:hover {
	background-color: #580054 !important;
}

a.btn-sinclair-red-small,
button.btn-sinclair-red-small {
	background-color: #ac1a2f !important;
	color: #ffffff !important;
	font-weight: 600 !important;
	border: 1px solid #6c757d !important;
	border-radius: 0px !important;
	margin-bottom: 4px;
	margin-right: 4px;
	width: 37px;
	font-size: 0.875rem !important;
	padding: 0.25rem 0.5rem !important;
}
a.btn-sinclair-red-small:hover,
button.btn-sinclair-red-small:hover {
	background-color: #580054;
}

.program-form input,
.program-form optgroup,
.program-form select,
.program-form textarea {
	color: #6c757d;
	border-radius: 0px;
	background-color: #ffffff !important;
	border: 1px solid #ced4da !important;
}

a.btn-search-red,
button.btn-search-red {
	background-color: #ac1a2f !important;
	color: #ffffff !important;
	border: 1px solid #6c757d !important;
	border-radius: 20px;
	margin: 0px 4px 8px;
	padding: 2px 10px;
}
button.btn-search-red:hover {
	background-color: #580054;
}
.table-data .thead-medium th {
	color: #fff;
	background-color: #666666;
	border-color: #666666;
	font-size: 0.8rem;
	font-weight: 600;
}
.table-data tr.fixed-row td {
	font-size: 0.75rem;
	min-height: 60px;
	padding: 0.75rem !important;
}
.table-data tr.stripe {
	background-color: rgba(0,0,0,.05);
}
.table-data button.btn-sinclair-red {
	margin-top: -0.4rem !important;
}
p.careers-heading {
	font-size: 0.8rem;
	text-align: center;
	margin-bottom: 0.5rem;
}
.careers-desc {
	font-size: 0.75rem;
}
.table-data tbody tr.no-stripe:hover {
	background-color: rgba(0,0,0,0);
}
.table-data tbody tr.no-stripe td {
	padding: 0 !important;
}
.table-data tbody tr.hightlight {
	background-color: rgba(255,255,255,1);
}
.table-data tbody tr.hightlight:hover {
	background-color: rgba(255,255,255,1);
}
.earnings {
	font-size: 0.625rem;
}
.w-40 {
	width: 40% !important;
}
.w-30 {
	width: 30% !important;
}

.page-item.active .page-link.text-sinclair {
	z-index: 1;
	color: #fff !important;
	background-color: #ac1a2f;
	border-color: #ac1a2f;
}
.far.fa-question-circle:hover {
	color: #ac1a2f;
}
.tooltip-inner {
	max-width: 400px !important;
	text-align: left !important;
}
.tooltip-inner p, .tooltip-inner ul li {color:white !important;}