.websiteBody {
  margin: 0;
}

.Page {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  pointer-events: auto;
}

.Page-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 1;
}

.Frame {
  position: relative;
  z-index: 2;
  pointer-events: all;
  width: 100%;
  margin-left: 0;
  min-width: 200px;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.Frame-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 2;
}

.explore---ask {
  position: relative;
  z-index: 3;
  pointer-events: all;
  margin-left: 0px;
  width: 1200px;
  min-width: 1200px;
  height: 307.01px;
  margin-top: 0px;
  margin-bottom: 1217.99px;
  min-height: 307.01px;
}

.explore---ask-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 3;
}

.bg-3 {
  position: relative;
  z-index: 4;
  pointer-events: all;
  margin-left: 0px;
  width: 1200px;
  min-width: 1200px;
  height: 307.01px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 307.01px;
  background-color: rgba(246, 249, 255, 1);
}

.bg-3-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 4;
}

.Frame-1 {
  position: relative;
  z-index: 5;
  pointer-events: all;
  margin-left: 966px;
  width: 141.88px;
  min-width: 141.88px;
  height: 189.57px;
  margin-top: -223.01px;
  margin-bottom: 33.44px;
  min-height: 189.57px;
  overflow: hidden;
}

.Frame-1-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 5;
}

.pageHeadline {
  position: relative;
  z-index: 6;
  pointer-events: all;
  margin-left: 344px;
  width: 513px;
  min-width: 513px;
  height: 161.92px;
  margin-top: -1453px;
  margin-bottom: 1291.08px;
  min-height: 161.92px;
}

.pageHeadline-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 6;
}

.subHeadline {
  position: relative;
  z-index: 7;
  pointer-events: all;
  margin-left: 0px;
  width: 513px;
  min-width: 513px;
  height: 161.92px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 161.92px;
}

.subHeadline-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 7;
}

.text-1 {
  position: relative;
  z-index: 8;
  pointer-events: all;
  margin-left: 0px;
  width: 513px;
  min-width: 513px;
  height: 55px;
  margin-top: 0px;
  margin-bottom: 106.91999999999999px;
  min-height: 55px;
}

.text-1-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 8;
}

.HiLo-Summarize-Tool {
  position: relative;
  z-index: 9;
  pointer-events: all;
  margin-left: 0px;
  width: 513px;
  min-width: 513px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 55px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 3, 88, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 800;
  font-size: 47.95005416870117px;
  letter-spacing: 0.09580032109223169px;
  line-height: 60px;
}

.HiLo-Summarize-Tool-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 9;
}

.text {
  position: relative;
  z-index: 10;
  pointer-events: all;
  margin-left: 1.949317738791423%;
  width: 95.41715399610136%;
  height: 49.35770750988143%;
  margin-top: 15.984405458089668%;
  text-align: center;
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  /*font-family: ;*/
  font-weight: 400;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.text-1 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-2 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-3 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-4 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-5 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-6 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-7 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-8 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-9 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-10 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-11 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.load-button {
  position: relative;
  z-index: 52;
  pointer-events: all;
  margin-left: 473px;
  margin-right: 542px;
  flex-grow: 1;
  height: 50px;
  margin-top: -1203px;
  margin-bottom: 1153px;
  min-height: 50px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612));
}

.load-button-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 52;
}

.Path-3 {
  position: relative;
  z-index: 55;
  pointer-events: all;
  margin-left: -255.67567567567568%;
  /*width: -9204.324324324325%;*/
  /*height: -59496%;*/
  margin-top: -174.05405405405406%;
  content: url(assets/images/Path_3.png);
  visibility: hidden;
}

.Path-3-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 55;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* .Choose-your-file {
  position: center;
  z-index: 60;
  pointer-events:all;
  margin-left: 35px;
  width: 145px;
  min-width: 143px;
  height: 21px;
  margin-top: -1px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(245, 251, 251, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  cursor: pointer;
} */
/* .Choose-your-file-outer {
  position: absolute;
  display: flex;
  pointer-events:all;
  z-index: 54;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
  cursor: pointer;
} */
.BG {
  position: relative;
  z-index: 53;
  pointer-events: all;
  margin-left: -2.1621621621621623%;
  width: 104.32432432432432%;
  height: 116%;
  margin-top: 0%;
  content: url(assets/images/BG.png);
}

.BG-outer {
  /* position: absolute; */
  display: flex;
  /* pointer-events:all; */
  /* z-index: 53; */
  /* width: 100%; */
  /* height: 100%; */
  /* left: 0; */
  /* top: 0; */
}

.dropzone {
  position: relative;
  z-index: 12;
  pointer-events: all;
  margin-left: 311px;
  width: 533px;
  min-width: 533px;
  height: 231px;
  margin-top: -1138px;
  margin-bottom: 907px;
  min-height: 231px;
  /* content: url(assets/images/drag_drop.png); */
}

/* .drag-drop-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 12;
} */

/* .drag-drop-outer {
  position: relative;
  z-index: 56;
  pointer-events: all;
  opacity: 0.5;
  margin-left: 392px;
  width: 360px;
  min-width: 360px;
  margin-top: -1009px;
  margin-bottom: 956px;
  min-height: 53px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 44.5px;
} */

.Drop-files-here-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 56;
}

.Drop-files-here-1 {
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.6079500579833985px;
  line-height: 44.5px;
}

.Drop-files-here-2 {
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2.6879500579833984px;
  line-height: 44.5px;
}

.Drop-files-here-3 {
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.6079500579833985px;
  line-height: 44.5px;
}

.max-words-box {
  position: relative;
  z-index: 48;
  pointer-events: all;
  margin-left: 397px;
  margin-right: 435px;
  flex-grow: 1;
  height: 0px;
  margin-top: -883px;
  margin-bottom: 833px;
  min-height: 50px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612));
}

.max-words-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 48;
}

.Path-3-1 {
  position: relative;
  z-index: 51;
  pointer-events: all;
  margin-left: -107.8804347826087%;
  /*width: -9352.119565217392%;*/
  /*height: -58856%;*/
  margin-top: -174.45652173913044%;
  content: url(assets/images/Path_3_1.png);
  visibility: hidden;
}

.Path-3-1-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 51;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.Max-words-lengh {
  position: relative;
  z-index: 50;
  pointer-events: all;
  margin-left: 20px;
  width: 152px;
  min-width: 150px;
  height: 21px;
  margin-top: -1px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(189, 189, 189, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.Max-words-lengh-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
}

.BG-1 {
  position: relative;
  z-index: 49;
  pointer-events: all;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  content: url(assets/images/BG_1.png);
}

.BG-1-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.percentage-box {
  position: relative;
  z-index: 43;
  pointer-events: all;
  margin-left: 397px;
  margin-right: 435px;
  flex-grow: 1;
  height: 50px;
  margin-top: -813px;
  margin-bottom: 763px;
  min-height: 50px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612));
}

.percentage-box-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 43;
}

.Path-3-2 {
  position: relative;
  z-index: 47;
  pointer-events: all;
  margin-left: 90.76086956521739%;
  width: 5.570652173913044%;
  height: 18.64%;
  margin-top: 5.978260869565218%;
  content: url(assets/images/Path_3_2.png);
}

.Path-3-2-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 47;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.Path-3-3 {
  position: relative;
  z-index: 46;
  pointer-events: all;
  margin-left: -107.8804347826087%;
  /*width: -9352.119565217392%;*/
  /*height: -58716%;*/
  margin-top: -193.47826086956522%;
  content: url(assets/images/Path_3_3.png);
}

.Path-3-3-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 46;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.Percentage-of-summar {
  position: relative;
  z-index: 45;
  pointer-events: all;
  margin-left: 20px;
  width: 212px;
  min-width: 211px;
  height: 21px;
  margin-top: -1px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(189, 189, 189, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.Percentage-of-summar-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 45;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
}

.BG-2 {
  position: relative;
  z-index: 44;
  pointer-events: all;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  content: url(assets/images/BG_2.png);
}

.BG-2-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 44;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.buttonSummarize {
  position: relative;
  z-index: 40;
  pointer-events: all;
  margin-left: 473px;
  width: 216px;
  min-width: 220px;
  height: 67px;
  margin-top: -725px;
  margin-bottom: 658px;
  min-height: 67px;
}

.buttonSummarize-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 40;
}

.label {
  position: relative;
  z-index: 42;
  pointer-events: all;
  margin-left: 3.240740740740741%;
  width: 90.74074074074075%;
  height: 44.776119402985074%;
  margin-top: 8.796296296296296%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 18.64724349975586px;
  letter-spacing: 0.037255680848170984px;
  line-height: 11.987513542175293px;
}

.label-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 42;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.Rectangle-103 {
  position: relative;
  z-index: 41;
  pointer-events: all;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  content: url(assets/images/Rectangle_103.png);
}

.Rectangle-103-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 41;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.textsummary {
  position: relative;
  z-index: 11;
  pointer-events: all;
  margin-left: 12px;
  width: 1028px;
  height: 532px;
  margin-top: 782px;
  background-color: rgba(246, 249, 255, 1);
}

.textsummary-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 11;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
}

.download-summary {
  position: relative;
  z-index: 13;
  pointer-events: all;
  margin-left: 990px;
  width: 130px;
  min-width: 130px;
  height: 33px;
  margin-top: -87px;
  margin-bottom: 54px;
  min-height: 33px;
}

.download-summary-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 13;
}

.Group-2170 {
  position: relative;
  z-index: 14;
  pointer-events: all;
  margin-left: 0px;
  width: 130px;
  min-width: 130px;
  height: 33px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 33px;
}

.Group-2170-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 14;
}

.Rectangle-103-1 {
  position: relative;
  z-index: 15;
  pointer-events: all;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  content: url(assets/images/Rectangle_103_1.png);
}

.Rectangle-103-1-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 15;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.label-2 {
  position: relative;
  z-index: 16;
  pointer-events: all;
  margin-left: 18.46153846153846%;
  width: 63.07692307692308%;
  height: 42.42424242424242%;
  margin-top: 6.923076923076923%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03200000286102295px;
  line-height: 12px;
}

.label-2-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 16;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.shareArticleOption {
  position: relative;
  z-index: 17;
  pointer-events: all;
  margin-left: 701px;
  width: 260px;
  min-width: 260px;
  height: 30px;
  margin-top: -85px;
  margin-bottom: 55px;
  min-height: 30px;
}

.shareArticleOption-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 17;
}

.Group-2169 {
  position: relative;
  z-index: 20;
  pointer-events: all;
  margin-left: 148px;
  width: 112px;
  min-width: 112px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 30px;
}

.Group-2169-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 20;
}

.telegram {
  position: relative;
  z-index: 37;
  pointer-events: all;
  margin-left: 0px;
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 30px;
}

.telegram-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 37;
}

.telegram-1 {
  position: relative;
  z-index: 39;
  pointer-events: all;
  margin-left: 23.333333333333332%;
  width: 50%;
  height: 41.43333333333333%;
  margin-top: 30%;
  content: url(assets/images/telegram.png);
}

.telegram-1-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 39;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bg {
  position: relative;
  z-index: 38;
  pointer-events: all;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  content: url(assets/images/bg.png);
}

.bg-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 38;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.google {
  position: relative;
  z-index: 31;
  pointer-events: all;
  margin-left: 82px;
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin-top: -30px;
  margin-bottom: 0px;
  min-height: 30px;
}

.google-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 31;
}

.google-1 {
  position: relative;
  z-index: 36;
  pointer-events: all;
  margin-left: 26.666666666666693%;
  width: 39.066666666666706%;
  height: 20.266666666666666%;
  margin-top: 26.666666666666693%;
  content: url(assets/images/google.png);
}

.google-1-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 36;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.google-2 {
  position: relative;
  z-index: 35;
  pointer-events: all;
  margin-left: 26.666666666666625%;
  width: 10.999999999999982%;
  height: 22.466666666666665%;
  margin-top: 39.999999999999936%;
  content: url(assets/images/google_1.png);
}

.google-2-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 35;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.google-3 {
  position: relative;
  z-index: 34;
  pointer-events: all;
  margin-left: 26.66666666666663%;
  width: 38.89999999999994%;
  height: 20.266666666666666%;
  margin-top: 53.33333333333326%;
  content: url(assets/images/google_2.png);
}

.google-3-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 34;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.google-4 {
  position: relative;
  z-index: 33;
  pointer-events: all;
  margin-left: 50.00000000000008%;
  width: 24.000000000000036%;
  height: 23.5%;
  margin-top: 46.666666666666735%;
  content: url(assets/images/google_3.png);
}

.google-4-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 33;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bg-1 {
  position: relative;
  z-index: 32;
  pointer-events: all;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  content: url(assets/images/bg_1.png);
}

.bg-1-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 32;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slack {
  position: relative;
  z-index: 21;
  pointer-events: all;
  margin-left: 41px;
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin-top: -30px;
  margin-bottom: 0px;
  min-height: 30px;
}

.slack-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 21;
}

.slack-1 {
  position: relative;
  z-index: 30;
  pointer-events: all;
  margin-left: 50.00000000000002%;
  width: 23.70000000000001%;
  height: 10.5%;
  margin-top: 50.00000000000002%;
  content: url(assets/images/slack.png);
}

.slack-1-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 30;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slack-2 {
  position: relative;
  z-index: 29;
  pointer-events: all;
  margin-left: 49.999999999999964%;
  width: 10.499999999999993%;
  height: 10.5%;
  margin-top: 63.333333333333286%;
  content: url(assets/images/slack_1.png);
}

.slack-2-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 29;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slack-3 {
  position: relative;
  z-index: 28;
  pointer-events: all;
  margin-left: 49.999999999999964%;
  width: 10.499999999999993%;
  height: 23.7%;
  margin-top: 26.666666666666647%;
  content: url(assets/images/slack_2.png);
}

.slack-3-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 28;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slack-4 {
  position: relative;
  z-index: 27;
  pointer-events: all;
  margin-left: 63.333333333333286%;
  width: 10.499999999999993%;
  height: 10.5%;
  margin-top: 36.66666666666664%;
  content: url(assets/images/slack_3.png);
}

.slack-4-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 27;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slack-5 {
  position: relative;
  z-index: 26;
  pointer-events: all;
  margin-left: 26.66666666666668%;
  width: 23.70000000000001%;
  height: 10.5%;
  margin-top: 36.666666666666686%;
  content: url(assets/images/slack_4.png);
}

.slack-5-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 26;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slack-6 {
  position: relative;
  z-index: 25;
  pointer-events: all;
  margin-left: 36.66666666666664%;
  width: 10.499999999999993%;
  height: 10.5%;
  margin-top: 26.666666666666647%;
  content: url(assets/images/slack_5.png);
}

.slack-6-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 25;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slack-7 {
  position: relative;
  z-index: 24;
  pointer-events: all;
  margin-left: 36.66666666666664%;
  width: 10.499999999999993%;
  height: 23.633333333333333%;
  margin-top: 49.999999999999964%;
  content: url(assets/images/slack_6.png);
}

.slack-7-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 24;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slack-8 {
  position: relative;
  z-index: 23;
  pointer-events: all;
  margin-left: 26.666666666666647%;
  width: 10.499999999999993%;
  height: 10.5%;
  margin-top: 49.999999999999964%;
  content: url(assets/images/slack_7.png);
}

.slack-8-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 23;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bg-2 {
  position: relative;
  z-index: 22;
  pointer-events: all;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  content: url(assets/images/bg_2.png);
}

.bg-2-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 22;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.Union {
  position: relative;
  z-index: 18;
  pointer-events: all;
  margin-left: 0px;
  width: 19.57px;
  min-width: 19.57px;
  height: 21.43px;
  margin-top: -26px;
  margin-bottom: 4.569999999999936px;
  min-height: 21.43px;
  content: url(assets/images/Union.png);
}

.Union-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 18;
}

.label-1 {
  position: relative;
  z-index: 19;
  pointer-events: all;
  margin-left: 10.769230769230766%;
  width: 43.334615384615375%;
  height: 46.666666666666664%;
  margin-top: 3.076923076923076%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 3, 88, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03200000286102295px;
  line-height: 12px;
}

.label-1-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 19;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

input[type="file"] {
  /*display: auto;*/
}

.input[type="file"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid white;
  color: white;
  background-color: #458cfe;
  padding: 8px 80px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  background-color: #458cfe;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.btn:hover {
  background-color: #45a049;
}

.upload-btn-wrapper:hover {
  background-color: #45a049;
}

form * {
  display: block;
  margin: 10px;
}

input[type="text"] {
  display: none;
}

textarea[name="text"] * {
  /* display: none; */
  visibility: hidden;
}

body {
  font-family: "Arial", sans-serif;
}
.dropzone {
  width: 300px;
  height: 300px;
  border: 2px;
  border-style: dashed;
  border-color: #ccc;
  color: #ccc;
  line-height: 300px;
  text-align: center;
}

.dropzone.dragover {
  border-color: #000;
  color: #000;
}

input[type="file"] {
  height: 300px;
  width: 300px;
  line-height: 300px;
  opacity: 0;
}

.button:hover {
  background: #ddd;
}
