.websiteBody {
  margin: 0;
}

.WebHeadlines {
  background-color: #f7f9ff;
}
h1 {
  background-color: #f7f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: rgba(0, 3, 88, 1);
  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 47.95005416870117px;
  letter-spacing: 0.09580032109223169px;
  line-height: 60px;
}
h2 {
  background-color: #f7f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}
/* first upload button */
.upldbtn-out {
  text-align: center;
  height: 70px;
}
.upldbtn {
  border: 2px solid white;
  color: white;
  background-color: #458cfe;
  padding: 8px 80px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.upldbtn:hover {
  background-color: #45a049;
}

/* DRAG AND DROP */
.drag-drop-outer {
  text-align: center;
  /* border-style: dotted; */
  width: 500px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
}
.dropzone {
  text-align: center;
  display: block;
  width: 500px;
  height: 280px;
  border: 2px;
  border-style: dashed;
  border-color: #ccc;
  color: #ccc;
  /* line-height: 300px; */

  margin: 0;
  background-image: url("../static/assets/images/drag_drop.png");
}

.dropzone.dragover {
  border-color: #000;
  color: #000;
}

input[type="file"] {
  height: 500px;
  width: 300px;
  line-height: 300px;
  margin: 0;
  opacity: 0;
}

.button:hover {
  background: #ddd;
}

.Page {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  pointer-events: auto;
}

/* .Page-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 1;
}

.Frame {
  position: relative;
  z-index: 2;
  pointer-events: all;
  width: 100%;
  margin-left: 0;
  min-width: 200px;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
} */
/* 
.Frame-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 2;
}

.explore---ask {
  position: relative;
  z-index: 3;
  pointer-events: all;
  margin-left: 0px;
  width: 0;
  min-width: 0;
  height: 0.01px;
  margin-top: 0px;
  margin-bottom: 0.99px;
  min-height: 0.01px;
} */

/* .explore---ask-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 3;
} */

/* .bg-3 {
  position: relative;
  z-index: 4;
  pointer-events: all;
  margin-left: 0px;
  width: 1200px;
  min-width: 1200px;
  height: 307.01px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 307.01px;
  background-color: rgba(246, 249, 255, 1);
}

.bg-3-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 4;
}

.Frame-1 {
  position: relative;
  z-index: 5;
  pointer-events: all;
  margin-left: 966px;
  width: 141.88px;
  min-width: 141.88px;
  height: 189.57px;
  margin-top: -223.01px;
  margin-bottom: 33.44px;
  min-height: 189.57px;
  overflow: hidden;
} */

/* .Frame-1-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 5;
} */

.pageHeadline {
  position: relative;
  z-index: 6;
  pointer-events: all;
  margin-left: 344px;
  width: 513px;
  min-width: 513px;
  height: 161.92px;
  margin-top: -1453px;
  margin-bottom: 1291.08px;
  min-height: 161.92px;
}

.pageHeadline-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 6;
}

.subHeadline {
  position: relative;
  z-index: 7;
  pointer-events: all;
  margin-left: 0px;
  width: 513px;
  min-width: 513px;
  height: 161.92px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 161.92px;
}

.subHeadline-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 7;
}

.text-1 {
  position: relative;
  z-index: 8;
  pointer-events: all;
  margin-left: 0px;
  width: 513px;
  min-width: 513px;
  height: 55px;
  margin-top: 0px;
  margin-bottom: 106.91999999999999px;
  min-height: 55px;
}

.text-1-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 8;
}

.HiLo-Summarize-Tool {
  position: relative;
  z-index: 9;
  pointer-events: all;
  margin-left: 0px;
  width: 513px;
  min-width: 513px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 55px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 3, 88, 1);
  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 47.95005416870117px;
  letter-spacing: 0.09580032109223169px;
  line-height: 60px;
}

.HiLo-Summarize-Tool-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 9;
}

.text {
  position: relative;
  z-index: 10;
  pointer-events: all;
  margin-left: 1.949317738791423%;
  width: 95.41715399610136%;
  height: 49.35770750988143%;
  margin-top: 15.984405458089668%;
  text-align: center;
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  /*font-family: ;*/
  font-weight: 400;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.text-1 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-2 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-3 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-4 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-5 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-6 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-7 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-8 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-9 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-10 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.text-11 {
  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}

.load-button {
  position: relative;
  z-index: 52;
  pointer-events: all;
  margin-left: 473px;
  margin-right: 542px;
  flex-grow: 1;
  height: 50px;
  margin-top: -1203px;
  margin-bottom: 1153px;
  min-height: 50px;
  /* filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612)); */
}

.load-button-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 52;
}

.Path-3 {
  position: relative;
  z-index: 55;
  pointer-events: all;
  margin-left: -255.67567567567568%;
  /*width: -9204.324324324325%;*/
  /*height: -59496%;*/
  margin-top: -174.05405405405406%;
  content: url(assets/images/Path_3.png);
  visibility: hidden;
}

.Path-3-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 55;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.max-words-box {
  position: relative;
  z-index: 48;
  pointer-events: all;
  margin-left: 397px;
  margin-right: 435px;
  flex-grow: 1;
  height: 0px;
  margin-top: -883px;
  margin-bottom: 833px;
  min-height: 50px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612));
}

.max-words-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 48;
}

.Max-words-lengh {
  position: relative;
  z-index: 50;
  pointer-events: all;
  margin-left: 20px;
  width: 152px;
  min-width: 150px;
  height: 21px;
  margin-top: -1px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(189, 189, 189, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.Max-words-lengh-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
}

.BG-1-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 50;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.percentage-box {
  position: relative;
  z-index: 43;
  pointer-events: all;
  margin-left: 397px;
  margin-right: 435px;
  flex-grow: 1;
  height: 50px;
  margin-top: -813px;
  margin-bottom: 763px;
  min-height: 50px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612));
}

.percentage-box-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 43;
}

.BG-2 {
  position: relative;
  z-index: 44;
  pointer-events: all;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  content: url(assets/images/BG_2.png);
}

.BG-2-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 44;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.buttonSummarize {
  position: relative;
  z-index: 40;
  pointer-events: all;
  margin-left: 473px;
  width: 216px;
  min-width: 220px;
  height: 67px;
  margin-top: -725px;
  margin-bottom: 658px;
  min-height: 67px;
}

.buttonSummarize-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 40;
}

.textsummary {
  position: relative;
  z-index: 11;
  pointer-events: all;
  margin-left: 12px;
  width: 1028px;
  height: 532px;
  margin-top: 782px;
  background-color: rgba(246, 249, 255, 1);
}

.textsummary-outer {
  position: absolute;
  display: flex;
  pointer-events: all;
  z-index: 11;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
}

.download-summary {
  position: relative;
  z-index: 13;
  pointer-events: all;
  margin-left: 990px;
  width: 130px;
  min-width: 130px;
  height: 33px;
  margin-top: -87px;
  margin-bottom: 54px;
  min-height: 33px;
}

.download-summary-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 13;
}

.shareArticleOption {
  position: relative;
  z-index: 17;
  pointer-events: all;
  margin-left: 701px;
  width: 260px;
  min-width: 260px;
  height: 30px;
  margin-top: -85px;
  margin-bottom: 55px;
  min-height: 30px;
}

.shareArticleOption-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 17;
}

.input[type="file"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* UPLOAD A FILE */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.upload-btn-wrapper input[type="file"] {
  background-color: #458cfe;
  font-size: 100px;
  /* position: absolute; */
  left: 0;
  top: 0;
  opacity: 0;
  align-items: center;
}

.upload-btn-wrapper:hover {
  background-color: #45a049;
}

/* SAVE BUTTON */
form * {
  display: block;
  margin: 10px;
}
input[type="text"] {
  display: none;
}

textarea[name="text"] * {
  /* display: none; */
  visibility: hidden;
}
