.websiteBody {
  margin: 0;
}

.WebHeadlines {
  background-color: #f7f9ff;
}
h1 {
  background-color: #f7f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: rgba(0, 3, 88, 1);
  font-family: Work Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 47.95005416870117px;
  letter-spacing: 0.09580032109223169px;
  line-height: 60px;
}
h2 {
  background-color: #f7f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: rgba(69, 69, 69, 1);
  font-style: normal;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.047900160546115844px;
  line-height: 26.638917922973633px;
}
/* first upload button */
.upldbtn-out {
  text-align: center;
  height: 70px;
}
.upldbtn {
  border: 2px solid white;
  color: white;
  background-color: #458cfe;
  width: 100px;
  padding: 8px 80px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: block;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612));
}
.upldbtn:hover {
  background-color: #45a049;
}
#file1 {
  display: none;
}
/* DRAG AND DROP */
.drag-drop-outer {
  text-align: center;
  display: flex;
  background-color: #f7f9ff;
  /* border-style: dotted; */
  width: 500px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(
    0px 4px 6px
      rgba(
        0.10000000149011612,
        0.10000000149011612,
        0.10000000149011612,
        0.10000000149011612
      )
  );
}
.dropzone {
  text-align: center;
  /*display: block; */
  width: 500px;
  height: 280px;
  border: 2px;
  border-style: dashed;
  border-color: #ccc;
  color: #ccc;
  pointer-events: all;
  /* line-height: 300px; */

  margin: 0;
  /* background-image: url("../static/assets/images/drag_drop.png"); */
}

.dropzone.dragover {
  border-color: #000;
  color: #000;
}

#fileElem {
  height: 270px;
  width: 450px;
  line-height: 300px;
  /* margin: 0; */
  opacity: 0;
  border-style: dashed;
}

#btndd:hover {
  background: #ddd;
}

.Page {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  pointer-events: auto;
}

.max-words-box {
  position: relative;
  z-index: 48;
  pointer-events: all;
  /* height: 0px; */
  /* min-height: 50px; */
  /* width: 500px; */
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612));
}

.max-words-outer {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.percentage-box {
  pointer-events: all;
  /* width: 500px; */
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612));
  text-align: center;
}

.percentage-box-outer {
  position: relative;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.buttonSummarize-outer {
  position: relative;
  display: flex;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.buttonSummarize-outer input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 40px;
  margin: 30px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 80px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.buttonSummarize-outer input[type="submit"]:hover {
  background-color: #45a049;
}

/* TEXT SUMMARIZATION BOX */
.textsummary {
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  pointer-events: all;
  width: 750px;
  height: 450px;
  background-color: #f7f9ff;
}

.textsummary-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  overflow: auto;
  justify-content: center;
  align-items: center;
  /* border: solid; */
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/* SAVE BUTTON OPTION */
.download-summary {
  position: relative;
  pointer-events: all;
  width: 130px;
  height: 33px;
  /* min-height: 33px; */
}

.download-summary-outer {
  position: relative;
  float: right;
  border: solid;
  /* padding-left: 10%;
  padding-right: 20%; */
}

form * {
  display: relative;
  /* margin: 10px; */
}
input[type="text"] {
  display: none;
}

textarea[name="text"] * {
  /* display: none; */
  visibility: hidden;
}

.ShareOptions input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 40px;
  margin: 30px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 80px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  background-color: #020681;
}

.ShareOptions input[type="submit"]:hover {
  background-color: #000358;
}

.shareArticleOption {
  position: relative;
  z-index: 17;
  pointer-events: all;
  margin-left: 701px;
  width: 260px;
  min-width: 260px;
  height: 30px;
  margin-top: -85px;
  margin-bottom: 55px;
  min-height: 30px;
}

.shareArticleOption-outer {
  position: relative;
  display: flex;
  pointer-events: all;
  z-index: 17;
}

.input[type="file"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* UPLOAD A FILE */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.upload-btn-wrapper input[type="file"] {
  background-color: #458cfe;
  font-size: 100px;
  /* position: absolute; */
  left: 0;
  top: 0;
  opacity: 0;
  align-items: center;
}

.upload-btn-wrapper:hover {
  background-color: #45a049;
}

/* LOADING  */
div#loading {
  background-color: #f7f9ff;
  text-align: center;
  width: 700px;
  height: 240px;
}

.outer {
  position: relative;
}
