* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
    background-image: url('./assets/thhinking.png');
    background-position: left bottom;
    background-size: 450px;
    background-repeat: no-repeat;
}

.App, .dragndrop{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.item{
flex:1;
margin: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  /* margin-top: 3%; */
  width: 100%;
}

.header h1:hover{
  background-color: #7d87a5;
}

h1 {
  padding:20px;
  text-align: center;
  background-color: #f7f9ff;
  color: rgba(0, 3, 88, 1);
  font-weight: 800;
  font-size: 47.95005416870117px;
  letter-spacing: 0.09580032109223169px;
  line-height: 60px;
}

.introduction {
  width:100%;
}
h2 {
  text-align: center;
  background-color: #f7f9ff;
  color: rgba(69, 69, 69, 1);
  font-weight: 300;
  font-size: 23.975027084350586px;
  letter-spacing: 0.247900160546115844px;
  line-height: 30.638917922973633px;
}
.introduction h2:hover{
  background-color: #7d87a5;
}
/* first upload button */
.uploadButton button {
  text-align: center;
  
  font-size: 18px;
  font-weight: bold;

  border: 2px solid white;
  background-color: #458cfe;
  color: white;
  
  height: 50px;
  width: 200px;
  border-radius: 10px;
}

.uploadButton button:hover {
  background-color: #0062ff;
}

/* Drag & Drop */
.dragndrop{
  text-align: center;
  background-color: #f7f9ff;
  border: 2px;
  border-style: dashed;
  border-color: #ccc;
  color: #ccc;
  height:150px;
  width:600px;
}

.dragndrop:hover {
  border-color: #000;
  color: #000;
}

.limitwords input[type="number"],input[type="text"]{
  text-align: center;
  font-size: 20px;
  width: 400px;
  height: 30px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10000000149011612));
}

.summarizeButton button{
  background-color: #4CAF50;
  border: none;
  color: white;
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.summarizeButton button:hover{
  background-color: #049909;
}

.summarization{
  text-align: center;
  background-color: #f7f9ff;
  width: 60%;
}

.summarization .output{
  overflow-y:scroll;
  height: 200px;
  padding: 20px;
  margin: 20px;
}

.output::-webkit-scrollbar {
  display: none;
}

.output {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* .summarization .output:hover{
  border:solid #7d87a5;
} */

.shareBar{
  display:flex;
  justify-content: space-between; 
  align-items: center;
}

.disabled a{
  pointer-events: none;
}

.fa {
  text-align: center;
  padding: 20px;
  width:60px;
  margin: 5px ;
}

.fa:hover {
  opacity: 0.7;
}

.shareBar button{
  background-color: #020681;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* border-radius: 10px; */
}

.shareBar button:hover{
  opacity:0.7;
}

.container{
  padding: 5px;
  display: flex;
  /* border: solid; */
  align-items: center;
}

.left, .right{
  flex: 1;
}

.left *, .right *{
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}

.left{
  overflow-y: auto;
  top:0;
  height: 356px;
  width: 669px;
}


li:hover{
  background-color: #7d87a5;
}

/* width */
.left::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.left::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.left::-webkit-scrollbar-thumb {
  background: #7d87a5; 
  border-radius: 10px;
}

/* Handle on hover */
.left::-webkit-scrollbar-thumb:hover {
  background: #747f9e; 
}
